<div class="answer-item">
  <%= f.input :content, label:"答案" %>
  <!--%= f.input :_destroy, as: :boolean, inline_label: "移除", label: false %-->
  <div class="controls">
    <%= link_to_remove_fields "移除", f %>
  </div>
</div>

